body{
    background-color: rgb(90, 156, 90);

}
#pong{

    border: 2px solid rgb(185, 74, 74);
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
h1{
  font-family: 'Pacifico', cursive;
font-family: 'Rampart One', cursive;
padding-left: 350px;
}
